.header {
  display: flex;
  margin: 20px 0;
}

.header-details {
  display: flex;
}

.header-owner {
  margin-right: 10px;
}

.header form {
  background-color: #F4F4F4;
  padding: 15px 10px;
  border-radius: 10px;
}
